<article class="card">
  <div class="card__media">
    {{ image }}
  </div>
  <div class="card__content">
    {% include '@training_theme/heading/heading.twig' %}
    <div class="card__date">
      {{ date }}
    </div>
    <div class="card__body">
      {{ body }}
    </div>
    {% include '@training_theme/button/button.twig' %}
  </div>
</article>
